* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
}

.container {
  height: 300px;
  width: 350px;
  background-color: rgb(65, 65, 65);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 16px;
  cursor: pointer;
}

.option-container, .score-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3px;
  margin-bottom: 20px;
  padding: 6px;
}



.player, .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player {
  width: 45%;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.computer {
  width: 45%;
  color: black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
} 

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
  width: 80%;
  min-height: 50px;
  margin: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.result {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}

